@charset "UTF-8";

html, body {
	width: 100%;
	height: 100%;
	font-size: 4vh;
	background-color: #cfd8dc;
}

img {
	vertical-align: top;
}

/* ----- clearfix ----- */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}


.mt10 {
	margin-top: 10px;
}

.mt20 {
	margin-top: 20px;
}

.mt50 {
	margin-top: 50px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb20 {
	margin-bottom: 20px;
}

.ml0{
	margin-left: 0px;
}

.ml10{
	margin-left: 10px;
}

.ml20{
	margin-left: 20px;
}

.text-small{
	font-size: 2vh;
}

.bg-yellow{
	background-color: gold;
}

.btn-large{
	color: 696969;
	background-color:gold;
}
